.header-light {
    color: #16161D;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5vh 4vh;
    display: flex;
    justify-content: space-between;
    color: #014D4E;
}

.header-dark {
    color: #FAF9F6;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5vh 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #90E4C1;
}